---
kubernetes_common_disable_swap: True
kubernetes_common_manage_etc_hosts: True
kubernetes_common_api_fqdn: k8s.example.com
kubernetes_common_api_ip: 10.10.10.3
kubernetes_common_primary_interface: eth0

# kubelet_extra_args is a dict of arg:value (ie. 'node-ip: 1.1.1.1' for '--node-ip=1.1.1.1')
kubernetes_common_kubelet_extra_args: {}
kubernetes_common_kubelet_config: {}

kubernetes_common_kubeadm_config:
  apiVersion: kubeadm.k8s.io/v1alpha3
  kind: ClusterConfiguration
  kubernetesVersion: 1.13.5
  controlPlaneEndpoint: "{{ kubernetes_common_api_fqdn }}"
  apiServerExtraArgs:
    "endpoint-reconciler-type": "lease"
    "audit-policy-file": "/etc/kubernetes/apiserver-audit-policy.yaml"
    "audit-log-path": "/var/log/kubernetes/kube-apiserver-audit.log"
    "audit-log-maxage": "30" # days
    "audit-log-maxsize": "100" # megabytes
    "audit-log-maxbackup": "1"
  apiServerExtraVolumes:
  - name: audit-policy
    hostPath: /etc/kubernetes/apiserver-audit-policy.yaml
    mountPath: /etc/kubernetes/apiserver-audit-policy.yaml
    writable: false
    pathType: File
  - name: audit-logs
    hostPath: /var/log/kubernetes
    mountPath: /var/log/kubernetes
    writable: true
    pathType: DirectoryOrCreate
  apiServerCertSANs: "{{ kubernetes_common_api_ip | kube_lookup_hostname(kubernetes_common_api_fqdn, True) }}"
  etcd:
    external:
      endpoints: "{{ etcd_client_endpoints }}"
