---
- fail:
    msg:
    - "kubernetes_master_kubeadm_config has been moved. It is now located at kubernetes_common_kubeadm_config."
    - "Please update your inventories"
  when: kubernetes_master_kubeadm_config is defined

- name: determine whether kubeadm needs to be run
  stat:
    path: /etc/kubernetes/manifests/kube-apiserver.yaml
  register: kubeadm_apiserver_manifest

- name: open api server port
  firewalld:
    port: 6443/tcp
    permanent: yes
    state: enabled
    immediate: True
  when: ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux'

- name: drop api-server audit policy template
  template:
    dest: /etc/kubernetes/apiserver-audit-policy.yaml
    src: etc/kubernetes/apiserver-audit-policy.yaml

- include_tasks: install.yml
  when: wardroom_action == 'install'

- include_tasks: upgrade.yml
  when: wardroom_action == 'upgrade'